{% extends 'base.html' %}
{% block title %}
Реєстрація!
{% endblock %}

{% block body %}
<form method="post" >
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit">
</form>
{% endblock %}